@page "/formula"

<h1>Veralkoholszint</h1>
<p role="status">Current count: @bloodAlcohol</p>
<button class="btn btn-primary" @onclick="()=>currentBloodAlcohol(false, 5, 5, 0.014, 4)">Click me</button>


