@page "/"

<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" aria-current="profile" href="profile">Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="settings">Settings</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="register">Register/Login</a>
  </li>
</ul>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
