@page "/profile"
<h3>Profile</h3>

<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Name</label>
  <input type="email" class="form-control" id="exampleFormControlInput1">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Email address</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Password</label>
  <input type="email" class="form-control" id="exampleFormControlInput1">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Weight</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="80 kg">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Height</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="210 cm">
</div>

<div class="form-check">
  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
  <label class="form-check-label" for="flexRadioDefault1">
    Férfi
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
  <label class="form-check-label" for="flexRadioDefault2">
    Nő
  </label>
</div>

<label for="customRange2" class="form-label">Age</label>
<input type="range" class="form-range" min="18" max="99" id="customRange2">


@code {

}
