@page "/profile"
@using AlcoholLimit.Data
@inject ProfileDatabase pd
<h3>Profile</h3>


<label>
		Decimal value (±0.000 format):
		<input @bind="profile.Name" />
	</label>


@code {
	private ProfileItem profile;

	protected override async Task OnInitializedAsync()
	{
		profile = await pd.GetItemAsync(1);
	}

	private async void Save()
	{
		profile.Sex = sex.WOMAN;

		await pd.SaveItemAsync(profile);
	}

	private async void Refresh()
	{
		profile = await pd.GetItemAsync(1);
	}
}
