@inherits LayoutComponentBase
@using AlcoholLimit.Data
@inject AppState AppState



<div class="page @(AppState.profile.nightmode ? "nightmode" : "")">
	@if (AppState.profile.ID != -1){
		<div class="sidebar">
			<NavMenu />
		</div>
	}
	
	<main>
		<article class="content px-4">
			@Body			
		</article>
	</main>
</div>


@code{
	protected override void OnInitialized()
	{
		AppState.OnChange += StateHasChanged;
	}

	public void Dispose()
	{
		AppState.OnChange -= StateHasChanged;
	}
}
