@inherits LayoutComponentBase
@using AlcoholLimit.Data
@inject ProfileDatabase pd

@if (profile == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<div class="page @(profile.nightmode ? "nightmode" : "")">
		<div class="sidebar">
			<NavMenu />
		</div>
		<main>
			<article class="content px-4">
				@Body
			</article>
		</main>
	</div>
}

@code{
		public ProfileItem profile;

		protected override async Task OnInitializedAsync()
		{
			profile = await pd.GetItemAsync(0);
			if (profile == null)
			{
				profile = new ProfileItem();
			}
		}
 }
