@using AlcoholLimit.Data
@inject AppState AppState
@inject NavigationManager UriHelper

<ul class="nav justify-content-center">
	@if (AppState.profile.ID != -1)
	{
		<a class="btn btn-primary" href="profile">Profile</a>
		<a class="btn btn-primary" href="settings">Settings</a>
		<a class="btn btn-primary" @onclick="logout">Logout</a>
	}
	else
	{
		<a class="btn btn-primary" href="login">Login/Register</a>
	}
</ul>


@code {
	protected override void OnInitialized()
	{
		AppState.OnChange += StateHasChanged;
	}

	public void Dispose()
	{
		AppState.OnChange -= StateHasChanged;
	}

	public void logout()
	{
		AppState.SetProfile();
		StateHasChanged();
		UriHelper.NavigateTo("");
	}
}